
// Colors
$color-white: #FFFFFF;
$color-gray-light: #E5E5E5;
$color-gray: #F2F2F2;
$color-gray-dark: #B6B9D0;
$color-red: #F79682;
$color-green: #17D499;
$color-yellow:#F7BC1C;
$color-blue-dark: #696D8C;

// Fonts
$font-family: 'Roboto', sans-serif;
$font-weight-thin: 400;
$font-weight-regular: 500;
$font-weight-bold: 700;
$font-size-huge: 22px;
$font-size-large: 18px;
$font-size-base: 16px;
$font-size-normal: $font-size-base;
$font-size-small: 12px;

:global {
  .input-password {
    box-sizing: border-box;

    input {
      box-sizing: border-box;
      display: block;

      &:focus {
        outline: none;
      }
    }

    &--wide {
      input {
        width: 100%;
      }
    }

    &__field {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
    }

    &__description {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 25px;

      li {
        font-size: $font-size-base;
        margin-bottom: 12px;
        margin-left: 20px;
        position: relative;
        color: $color-blue-dark;

        &:before {
          content: ' ';
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: $color-gray;
          position: absolute;
          left: - 20px;
          top: 4px;
        }

        &.danger:before {
          background-color: $color-red;
        }

        &.success:before {
          background-color: $color-green;
        }
      }
    }

    &__marker {
      display: flex;
      margin-bottom: 15px;

      > div {
        background-color: $color-gray;
        border-radius: 10px;
        height: 8px;
        width: 33%;
        flex: 1;
        margin: 0 4px;

        &:last-child {
          margin-right: 0;
        }

        &:first-child {
          margin-left: 0;
        }

        &.danger {
          background-color: $color-red;
        }

        &.warning {
          background-color: $color-yellow;
        }

        &.success {
          background-color: $color-green;
        }
      }
    }

    .none {
      input {
        border-color: $color-gray;
      }
    }

    .danger {
      input {
        border-color: $color-red;
      }
    }

    .warning {
      input {
        border-color: $color-yellow;
      }
    }

    .success {
      input {
        border-color: $color-green;
      }
    }
  }
}
